<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>log.j38.uk</title>
  <meta property="og:title" content="log.j38.uk">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://log.j38.uk/">
  <meta property="og:description" content="A minimalist blog">
  <meta name="twitter:card" content="summary">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <script>if(new URLSearchParams(location.search).get('c'))document.documentElement.classList.add('loading-filter')</script>
  <link rel="stylesheet" href="style.css?v={{v}}">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
</head>
<body>
  <main>
    <h1><a href="/">log.j38.uk</a></h1>
    <input type="text" class="search" placeholder="Search posts..." />
    <div class="filters">
      {{filters}}
    </div>
    <div class="posts">
      {{posts}}
    </div>
  </main>
  <script src="main.js?v={{v}}"></script>
  <script>MathJax = { tex: { inlineMath: [['$', '$']], displayMath: [['$$', '$$']] } };</script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" async></script>
</body>
</html>
