<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <meta property="og:title" content="{{title}}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://log.j38.uk/{{slug}}.html">
  <meta property="og:description" content="{{description}}">
  <meta name="twitter:card" content="summary">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="style.css?v={{v}}">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
</head>
<body>
  <main>
    <article>
      <header>
        <!-- <h1>{{title}}</h1> -->
        <!-- <div class="tags">{{tags}}</div> -->
      </header>
      <div class="content">
        {{content}}
      </div>
    </article>
  </main>
  <footer>
    <a href="/">←</a>
  </footer>
  <script src="main.js?v={{v}}"></script>
</body>
</html>
